---
import LayoutProjects from "../../layouts/LayoutProjects.astro";

// fonts
import "@fontsource/poppins/300.css";
import "@fontsource/bebas-neue";
---

<LayoutProjects title="Luxe - ConquerBlocks | PaulDev" nameProject="Luxe">
    <div class="w-full text-headers-octavo-letters relative overflow-hidden">
        <div
            class="fixed inset-0 bg-white/60 backdrop-blur-3xl -z-10 pointer-events-none"
        >
        </div>
        <div
            class="cicle-bg absolute top-10 -left-10 w-48 h-48 bg-headers-octavo-primario/50 rounded-full blur-3x -z-20"
        >
        </div>
        <div
            class="cicle-bg absolute bottom-5 -right-5 w-48 h-48 bg-headers-octavo-primario/50 rounded-full blur-3x -z-20"
        >
        </div>
        <header class="w-11/12 mx-auto flex items-center justify-between py-3 text-sm">
            <a
                class="font-semibold text-2xl text-headers-octavo-primario"
                href="/Headers/luxe">Luxe</a
            >

            <nav>
                <ul class="flex items-center gap-6">
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">How we works</a></li>
                </ul>
            </nav>
            <aside></aside>
        </header>
        <hero-main class="w-full grid grid-cols-2">
            <hero class="w-11/12 ml-auto pt-8">
                <p>Hi, there!</p>
                <h1
                    class="font-bebas text-5xl text-balance pb-4 lg:text-6xl xl:text-7xl"
                    style="transition: font-size 0.5s;"
                >
                    <span class="text-headers-octavo-primario">Luxe</span> is here
                    to be your assistance
                </h1>
                <p class="pb-4 text-pretty w-11/12">
                    I am here ready to help you in making creative digital
                    products
                </p>
                <a
                    class="bg-headers-octavo-primario w-max py-2 px-4 rounded-full inline-flex justify-center items-center text-white text-sm font-light transition-all duration-300 ease-in-out hover:bg-headers-octavo-primario/70 hover:scale-95"
                    href="#">Let’s Discuss</a
                >

                <section class="pt-16 w-[120%]">
                    <h2 class="font-bebas text-3xl">Our Service</h2>
                    <div class="flex pt-4">
                        <article>
                            <figure
                                class="w-12 h-12 flex items-center justify-center pb-4"
                            >
                                <img
                                    class="w-full object-cover"
                                    src="/images/headers/luxe/branding-luxe.webp"
                                    alt="Icon branding de luxe"
                                />
                            </figure>
                            <h3 class="font-semibold">Branding</h3>
                            <p
                                class="text-pretty text-sm text-headers-primero-paraghap"
                            >
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit.
                            </p>
                        </article>
                        <article>
                            <figure
                                class="w-12 h-12 flex items-center justify-center pb-4"
                            >
                                <img
                                    class="w-full object-cover"
                                    src="/images/headers/luxe/uiDesign-luxe.webp"
                                    alt="Icon branding de luxe"
                                />
                            </figure>
                            <h3 class="font-semibold">UI/UX</h3>
                            <p
                                class="text-pretty text-sm text-headers-primero-paraghap"
                            >
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit.
                            </p>
                        </article>
                        <article>
                            <figure
                                class="w-12 h-12 flex items-center justify-center pb-4"
                            >
                                <img
                                    class="w-full object-cover"
                                    src="/images/headers/luxe/product-luxe.webp"
                                    alt="Icon branding de luxe"
                                />
                            </figure>
                            <h3 class="font-semibold">Product Design</h3>
                            <p
                                class="text-pretty text-sm text-headers-primero-paraghap"
                            >
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit.
                            </p>
                        </article>
                    </div>
                </section>
            </hero>

            <div class="relative p-5 h-max">
                <figure>
                    <img
                        class="w-full max-w-[550px]"
                        src="/images/headers/luxe/hero-luxe.webp"
                        alt="Imagen hero de luxe"
                    />
                </figure>

                <!-- primer card -->
                <div
                    class="absolute top-16 left-0 p-3 flex items-center gap-3 bg-white/90 backdrop-blur-xl rounded-xl lg:top-24 lg:left-5 xl:top-32 xl:left-10"
                    style="box-shadow: -8px 8px 10px #00000010; transition: top 0.5s ease-in-out, left 0.5s ease-in-out;"
                >
                    <figure
                        class="bg-headers-octavo-primario rounded-lg p-2 w-10 h-10 flex items-center justify-center"
                    >
                        <svg
                            class="w-full fill-white"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 30 23"
                            fill="none"
                            ><path
                                d="M1.667 10.667h8A1.333 1.333 0 0 0 11 9.333v-8A1.334 1.334 0 0 0 9.667 0h-8A1.333 1.333 0 0 0 .333 1.333v8a1.333 1.333 0 0 0 1.334 1.334Zm1.333-8h5.333V8H3V2.667ZM28.333 4H15a1.333 1.333 0 1 0 0 2.667h13.333a1.333 1.333 0 1 0 0-2.667Zm0 13.333H15A1.333 1.333 0 1 0 15 20h13.333a1.334 1.334 0 0 0 0-2.667ZM4.256 22.667h.016c.35-.002.685-.14.933-.386l5.395-5.333a1.332 1.332 0 1 0-1.867-1.896l-4.438 4.385-1.67-1.733a1.334 1.334 0 1 0-1.917 1.855l2.605 2.708a1.334 1.334 0 0 0 .943.4Z"
                            ></path></svg
                        >
                    </figure>
                    <div class="">
                        <h4 class="font-semibold">2k+</h4>
                        <p class="text-sm text-headers-primero-paraghap">
                            Projects
                        </p>
                    </div>
                </div>

                <!-- segunda card -->
                <div
                    class="absolute bottom-4 right-16 p-3 flex items-center gap-3 bg-white/80 backdrop-blur-xl rounded-xl lg:right-20 xl:right-32"
                    style="box-shadow: 0px 8px 10px #00000010; transition: right 0.5s ease-in-out;"
                >
                    <figure
                        class="bg-headers-octavo-primario rounded-lg p-2 w-10 h-10 flex items-center justify-center"
                    >
                        <svg
                            class="w-full fill-white"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 32 32"
                            fill="none"
                            ><path
                                fill="#F4F3F8"
                                d="M24 9.5c0-4.41-3.59-8-8-8s-8 3.59-8 8 3.59 8 8 8 8-3.59 8-8Zm-13 0c0-2.76 2.24-5 5-5s5 2.24 5 5-2.24 5-5 5-5-2.24-5-5Zm7.4 10h-4.8c-5.24 0-9.5 4.26-9.5 9.5 0 .83.67 1.5 1.5 1.5h20.8c.83 0 1.5-.67 1.5-1.5 0-5.24-4.26-9.5-9.5-9.5Zm-11.13 8c.68-2.86 3.26-5 6.33-5h4.8c3.07 0 5.65 2.14 6.33 5H7.27Z"
                            ></path></svg
                        >
                    </figure>
                    <div class="">
                        <h4 class="font-semibold">Product Designer</h4>
                        <p class="text-sm text-headers-primero-paraghap">
                            5 Years
                        </p>
                    </div>
                </div>

                <!-- tercer card -->
                <div
                    class="absolute top-1/2 -translate-y-1/2 right-2 p-3 flex items-center gap-2 bg-white/90 backdrop-blur-xl rounded-xl lg:top-[43%] xl:right-10"
                    style="box-shadow: 8px 8px 10px #00000010; transition: top 0.5s ease-in-out, right 0.5s ease-in-out;"
                >
                    <figure
                        class="rounded-lg p-2 w-10 h-10 flex items-center justify-center"
                    >
                        <svg
                            class="w-full fill-yellow-300"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="none"
                            ><path
                                d="M19.467 23.316 12 17.828l-7.467 5.488L7.4 14.453-.063 9h9.214L12 .122 14.849 9h9.213L16.6 14.453Z"
                            ></path></svg
                        >
                    </figure>
                    <div class="">
                        <h4 class="font-semibold">4.8</h4>
                        <p class="text-sm text-headers-primero-paraghap">
                            Satisfaction
                        </p>
                    </div>
                </div>
            </div>
        </hero-main>
    </div>
</LayoutProjects>

<style>

    html{
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: #DC0155 transparent;
    }
    header nav {
        a {
            @apply border-b-2 border-transparent transition-colors duration-300 ease-in-out pb-[2px];
            &.active {
                @apply text-headers-octavo-primario border-headers-octavo-primario;
            }
        }
    }
</style>
