---
import LayoutProjects from "../../layouts/LayoutProjects.astro";

// fonts
import "@fontsource/bebas-neue";
---

<LayoutProjects
    title="Business Agency - ConquerBlocks | PaulDev"
    nameProject="Archesky"
>
    <!-- header -->
    <header class="flex items-center justify-between w-11/12 mx-auto py-3">
        <a class="font-semibold text-2xl" href="/Headers/SmartBusiness"
            >Archesky
        </a>
        <nav class="w-max">
            <ul class="flex items-center gap-8">
                <li><a class="link" href="/">Home</a></li>
                <li><a class="link" href="#">Service</a></li>
                <li><a class="link" href="#">Portofolio</a></li>
                <li><a class="link" href="#">Works</a></li>
            </ul>
        </nav>
    </header>

    <!-- main -->
    <div
        class="grid grid-rows-1 w-full h-full absolute top-0 -z-50 pointer-events-none"
        style="grid-template-columns: 0.6fr 1fr;"
    >
        <footer
            class="absolute w-11/12 h-max top-[93%] left-10 z-10 flex justify-between items-stretch gap-4 pb-8"
        >
            <article>
                <figure>
                    <img
                        src="/imagesProjectsHeaders/bussines-plan.webp"
                        alt="icon bussiness-plan"
                    />
                </figure>
                <h3>Business Planning</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article>
                <figure>
                    <img
                        src="/imagesProjectsHeaders/financial-plan.webp"
                        alt="icon financial-plan"
                    />
                </figure>
                <h3>Financial Planning</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article>
                <figure>
                    <img
                        src="/imagesProjectsHeaders/marketing.webp"
                        alt="icon marketing"
                    />
                </figure>
                <h3>Digital Marketing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article>
                <figure>
                    <img
                        src="/imagesProjectsHeaders/presentation.webp"
                        alt="icon presentation"
                    />
                </figure>
                <h3>Market Analysis</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </article>
        </footer>

        <div class="uno w-full h-full" style="background: var(--white);"></div>
        <div
            class="dos w-full h-full relative overflow-hidden"
            style="background: var(--celeste);"
        >
            <figure class="absolute bottom-0 left-0 xl:left-10">
                <img
                    class="min-w-[500px] max-w-[670px]"
                    src="/imagesProjectsHeaders/BusinessAggency-hero.webp"
                    alt="Imagen de Archesky"
                    style="transition: width 0.5s"
                />
            </figure>
        </div>
    </div>

    <main class="pt-3">
        <section
            class="grid items-center relative"
            style="grid-template-columns: 0.6fr 1fr;"
        >
            <article class="w-11/12 ml-auto">
                <h1
                    class="text-7xl w-[160%] text-balance xl:text-[86px] pb-4"
                    style="font-family: var(--bebas); transition:font-size 0.5s linear;"
                >
                    <span>Smart</span>&nbsp;Business with <span>Smart</span> People
                </h1>
                <p class="pb-4">
                    Grow your business to the next level to improve your
                    business performance to stay competitive
                </p>
                <a
                    href="#"
                    class="inline-flex w-max px-8 py-3 text-white rounded-md transition-colors duration-300 ease-linear"
                >
                    Let's Discuss
                </a>

                <div class="container-cards flex gap-4 pt-8 pb-16">
                    <article>
                        <h2>10+</h2>
                        <p>Years Experience</p>
                    </article>
                    <article>
                        <h2>891</h2>
                        <p>Cases Salved</p>
                    </article>
                    <article>
                        <h2>263</h2>
                        <p>Business Partn</p>
                    </article>
                </div>
            </article>
        </section>
    </main>
</LayoutProjects>

<style>
    :root {
        /* colores */
        --celeste: #7edad2;
        --celestehv: #39bdb2;
        --black: #424241;
        --gray: #909090;

        /* fuentes */
        --bebas: "Bebas Neue", sans-serif;
    }
    html {
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: var(--celeste) #ffffff10;
        color: var(--black);
    }

    p {
        color: var(--gray);
    }

    span {
        color: var(--celeste);
    }

    main section {
        a {
            background-color: var(--celeste);

            &:hover {
                background-color: var(--celestehv);
            }
        }
    }

    nav {
        a{
            position: relative;
            padding-bottom: 2px;

            &::after {
                content: '';
                width: 0%;
                height: 2px;
                background-color: var(--black);
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width 0.3s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    .container-cards {
        article {
            @apply flex flex-col items-center transition-shadow duration-300 ease-linear p-3 hover:[box-shadow:0_0_10px_rgba(0,0,0,0.1)] rounded-xl;
            background-color: var(--white);
            min-width: 100px;
            width: 100%;

            h2 {
                font-family: var(--bebas);
                @apply text-4xl text-balance;
            }
            p {
                @apply text-sm text-pretty text-center;
            }
        }
    }

    footer {
        article {
            background-color: var(--white);
            @apply rounded-xl flex flex-col gap-2 p-3;

            h3 {
                @apply text-balance text-lg font-medium;
            }

            p{
                @apply text-pretty;
            }
        }
    }

    @keyframes borders {
        0% {
            border-color: transparent;
            border-width: 0%;
        }
        100% {
            border-width: 100%;
            border-color: red;
        }
    }
</style>
