---
import LayoutProjects from "../../layouts/LayoutProjects.astro";
---

<LayoutProjects title="Business Agency - ConquerBlocks | PaulDev" nameProject="Archesky">
        <header
            class="flex items-center justify-between w-full"
            style="background-color: var(--celeste);"
        >
            <span class="font-semibold text-2xl">
                <a class="" href="/Headers/SmartBusiness">Archesky</a>
            </span>
            <nav class="w-max">
                <ul class="flex items-center gap-4">
                    <li><a class="link" href="/">Home</a></li>
                    <li><a class="link" href="#">Service</a></li>
                    <li><a class="link" href="#">Portofolio</a></li>
                    <li><a class="link" href="#">Works</a></li>
                </ul>
            </nav>
        </header>
</LayoutProjects>

<style>
    .container{
        --celeste: #00f0ff;
        --black: #424242;
    }
</style>
