---
interface Props {
    text: string;
    href: string;
    nameTransition: string
}
const { text, href, nameTransition } = Astro.props
---
<a
    class="absolute bg-smoke-700 w-36 h-12 bottom-0 left-1/2 -translate-x-1/2 z-20 rounded-lg grid place-content-center a-link overflow-hidden group transition-all duration-300"
    href={href}
    transition:name=`section-${nameTransition}-button`
>
    <span
        class="text-teal-50 font-semibold bg-teal-600 rounded-lg flex justify-center items-center absolute inset-[2px] transition-colors duration-300 group-hover:bg-[#18837a] ll"
        >{text}</span
    >
</a>

<style>
    .a-link::before {
        content: "";
        position: absolute;
        top: -2rem;
        left: -2rem;
        border-radius: inherit;
        width: 4rem;
        height: 4rem;
        background: rgb(255, 255, 255);
        background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.6) 0%,
            rgba(255, 255, 255, 0.3) 18%,
            rgba(255, 255, 255, 0) 59%
        );
        opacity: 0;
        transition: all 0.35s ease-in-out;
    }

    .a-link:has(.ll:hover)::before {
        opacity: 1;
        animation: recorrido 3.5s linear infinite both;
    }

    @keyframes recorrido {
        32.2%{
            top: -2rem;
            left: calc(100% - 2rem);
        }
        48.8% {
            left: calc(100% - 2rem);
            top: calc(100% - 2rem);
        }
        81% {
            top: calc(100% - 2rem);
            left: -2rem;
        }
        100%{
            top: -2rem;
            left: -2rem;
        }
    }
</style>
