---
import ButtonPages from "../components/ButtonPages.astro";
import HeaderIcon from "../icons/HeaderIcon.astro";

const imagesFooters = [
    {
        src: "/images/footers/footer001.jpg",
        alt: "Preview image of the proyect footer01",
    },
    {
        src: "/images/footers/footer002.jpg",
        alt: "Preview image of the proyect footer02",
    },
    {
        src: "/images/footers/footer003.jpg",
        alt: "Preview image of the proyect footer03",
    },
    {
        src: "/images/footers/footer004.jpg",
        alt: "Preview image of the proyect footer04",
    },
];
---

<section
    class="bg-smoke-900 border border-smoke-700 rounded-xl w-full p-3 flex flex-col gap-3"
>
    <h2 class="font-cinzel text-xl font-semibold flex gap-3 items-center"><HeaderIcon class:list={"fill-teal-500 w-5"} />Footers</h2>
    <p class="pb-3">
        En la sección de footers encontraremos pie de páginas que generalmente se encuentran al final del sitio web, algunos de estos diseños estan hechos para sitios darkmode.
    </p>

    <div class="w-full h-full relative overflow-hidden">
        <div
            class="absolute inset-0 z-10 [background:linear-gradient(0deg,#101010_15%,#10101010)_90%]"
        >
        </div>
        <figure class="w-max h-full flex items-center gap-x-3 animate-loop-reverse">
            {
                imagesFooters.map((image) => (
                    <img class="w-[180px] aspect-video rounded-lg object-cover" src={image.src} alt={image.alt} />
                ))
            }
            {
                imagesFooters.map((image) => (
                    <img class="w-[180px] aspect-video rounded-lg object-cover" src={image.src} alt={image.alt} />
                ))
            }
        </figure>

        <ButtonPages text="View Footers" href="/Footers" />
    </div>
</section>

<style>
    .animate-loop-reverse {
        --extra-width: 6px;
        animation-duration: 20s;
    }
</style>
