---
import ButtonPages from "../components/ButtonPages.astro";
import HeaderIcon from "../icons/HeaderIcon.astro";
import { footers } from "../scripts/projects";

const firstFooters = footers.slice(0, 4);
---

<section
    class="bg-smoke-800 border border-smoke-700 rounded-xl w-full p-3 flex flex-col gap-3 transition-all duration-300"
    transition:name="section-Footers"
>
    <h2
        class="font-cinzel text-xl font-semibold flex gap-3 items-center transition-all duration-300"
        transition:name="section-Footers-title"
    >
        <HeaderIcon class:list={"fill-teal-500 w-5"} />Footers
    </h2>
    <p class="pb-3 transition-all duration-300 text-neutral-400" transition:name="section-Footers-resume">
        En la sección de footers se encuentran los pies de página, generalmente ubicados al final del sitio web, algunos diseñados para dark mode.
    </p>

    <div class="w-full h-full relative overflow-hidden">
        <div
            class="absolute inset-0 z-10"
            style="background: linear-gradient(0deg, #161616 15%, #16161610 90%);"
        >
        </div>
        <figure
            class="w-max h-full flex items-center gap-x-3 animate-loop-reverse"
        >
            {
                firstFooters.map((image) => (
                    <img
                        class="w-[180px] aspect-video rounded-lg object-cover"
                        src={image.src}
                        alt={image.alt}
                        loading="lazy"
                    />
                ))
            }
            {
                firstFooters.map((image) => (
                    <img
                        class="w-[180px] aspect-video rounded-lg object-cover"
                        src={image.src}
                        alt={image.alt}
                        loading="lazy"
                    />
                ))
            }
        </figure>

        <ButtonPages text="View Footers" href="/Footers" nameTransition="Footers" />
    </div>
</section>

<style>
    .animate-loop-reverse {
        --extra-width: 6px;
        animation-duration: 20s;
    }
</style>
