---
import ButtonPages from "../components/ButtonPages.astro";
import HeaderIcon from "../icons/HeaderIcon.astro";
import { headers } from "../scripts/projects";

const firstHeaders = headers.slice(0, 4);
---

<section
    class="bg-smoke-900 border border-smoke-700 rounded-xl w-full p-3 flex flex-col gap-3 transition-all duration-300"
    transition:name="section-Headers"
>
    <h2
        class="font-cinzel text-xl font-semibold flex gap-3 items-center transition-all duration-300"
        transition:name="section-Headers-title"
    >
        <HeaderIcon class:list={"fill-teal-500 w-5"} />Headers
    </h2>
    <p class="pb-3 transition-all duration-300" transition:name="section-Headers-resume">
        En la sección de headers encontraremos páginas principales que se suelen
        observer al ingresar a una Sitio web. Estos headers estan diseñados para
        diferentes tipos de empresas.
    </p>

    <div class="w-full h-full relative overflow-hidden">
        <div
            class="absolute inset-0 z-10"
            style="background: linear-gradient(0deg, #101010 15%, #10101010 90%);"
        >
        </div>
        <figure class="w-max h-full flex items-center gap-x-3 animate-loop">
            {
                firstHeaders.map((image) => (
                    <img
                        class="w-[180px] aspect-video rounded-lg object-cover"
                        src={image.src}
                        alt={image.alt}
                    />
                ))
            }
            {
                firstHeaders.map((image) => (
                    <img
                        class="w-[180px] aspect-video rounded-lg object-cover"
                        src={image.src}
                        alt={image.alt}
                    />
                ))
            }
        </figure>

        <ButtonPages text="View Headers" href="/Headers" />
    </div>
</section>

<style>
    .animate-loop {
        --extra-width: 6px;
        animation-duration: 20s;
    }
</style>
