<header
    class="flex flex-col gap-3 p-3"
>
    <h1 class="font-cinzel font-semibold text-3xl">Proyectos</h1>
    <p>
        Estos proyectos han sido realizandos como material de aprendizaje dentro
        de la <a
            href="https://www.conquerx.com/"
            target="_blank"
            
            class="text-teal-500 font-bold">Académia Conquer Blocks</a
        >. Donde se esta profundizando conocimientos en el Front-End.
    </p>
</header>
