---
import ButtonPages from "../components/ButtonPages.astro";
import HeaderIcon from "../icons/HeaderIcon.astro";

const imagesLandings = [
    {
        src: "/images/landings/landing01.jpg",
        alt: "Preview image of the proyect landing01",
    },
    {
        src: "/images/landings/landing02.jpg",
        alt: "Preview image of the proyect landing02",
    }
];
---

<section
    class="bg-smoke-900 border border-smoke-700 rounded-xl w-full p-3 flex flex-col gap-3"
>
    <h2 class="font-cinzel text-xl font-semibold flex gap-3 items-center"><HeaderIcon class:list={"fill-teal-500 w-5"} />Landings</h2>
    <p class="pb-3">
        Hemos creado sitios web un poco más complejos donde cambian muchas cosas para hacer que la página se vaya adaptando a diferentes tipos de dispositivos.
    </p>

    <div class="w-full h-full relative overflow-hidden">
        <div
            class="absolute inset-0 z-10"
            style="background: linear-gradient(0deg, #101010 15%, #10101010 90%);"
        >
        </div>
        <figure class="w-max h-full flex items-center gap-x-3 animate-loop">
            {
                imagesLandings.map((image) => (
                    <img class="w-[180px] aspect-video rounded-lg object-cover" src={image.src} alt={image.alt} />
                ))
            }
            {
                imagesLandings.map((image) => (
                    <img class="w-[180px] aspect-video rounded-lg object-cover" src={image.src} alt={image.alt} />
                ))
            }
        </figure>

        <ButtonPages text="View Landings" href="/Landings" />
    </div>
</section>

<style>
    .animate-loop {
        --extra-width: 6px;
        animation-duration: 20s;
    }
</style>
